<h2>Posts List</h2>
<h3>{{id}}</h3>
<ul *ngFor="let post of posts">
  <div>=====================</div>
  <div (click)="showPost[post.id] = !showPost[post.id]">{{post.id}} - {{post.title}}</div>
  <div ngClass="showPost{{post.id}}" [hidden]="!showPost[post.id]">
    {{post.body}}

    {{id}}
    <ul *ngFor="let comment of comments">
      <div *ngIf="post.id == comment.postId">
        -------
        {{comment.body}}
        -------
      </div>
    </ul>
  </div>
  <div>=====================</div>
</ul>
