<h1>Posts</h1>
<div *ngFor="let post of posts">
  <div (click)="showPost[post.id] = !showPost[post.id]">
    <h2>{{post.title}}</h2>
  </div>
  <div ngClass="showPost{{post.id}}" [hidden]="!showPost[post.id]">
    <p>{{post.body}}</p>
    <button class="btn btn-default btn-md" style="cursor:pointer;" (click)="getCommentsByPostId(post.id)">
      comment
    </button>
    <ul *ngFor="let comment of commentsByPostId">
      <div *ngIf="post.id == comment.postId">
        -------
        {{comment.body}}
        -------
      </div>
    </ul>
  </div>
</div>
