<nav class="navbar navbar-dark bg-dark mb-1">
  <a class="navbar-brand" routerLink="/">Test Angular application</a>
  <a class="navbar-brand" routerLink="/post">post</a>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/asenyk/blog" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<nav class="navbar navbar-dark bg-dark mt-1">
  <div class="navbar-expand m-auto navbar-text">
    Made by <a href="https://github.com/asenyk/blog">Junior</a>
  </div>
</nav>
